<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slider/slider.jpg" class="d-block w-100" alt="Kütüphane Girişi"> <!-- 1. slide için resim -->
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Bilgiye Erişimin Kapıları Aralanıyor!</h1>
            <p class="opacity-75">Kütüphanemiz, bilgiye ulaşmanın en iyi yollarından biridir.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Bize Katılın</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider/slider1.jpg" class="d-block w-100" alt="Kitap Rafları"> <!-- 2. slide için resim -->
        <div class="container">
          <div class="carousel-caption">
            <h1>Her Yaş Grubuna Uygun Kitaplar</h1>
            <p> Çocuk kitaplarından akademik kaynaklara kadar her yaştan okuyucuya hitap ediyoruz.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Daha Fazla Bilgi</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider/slider2.jpg" class="d-block w-100" alt="Okuma Alanı"> <!-- 3. slide için resim -->
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Okuma Alanları</h1>
            <p>Rahat okuma alanlarımızda keyifli vakit geçirin.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Kütüphane Turuna Katıl</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Önceki</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Sonraki</span>
    </button>
</div>
