<app-basic-layout>
  <div class="container">
    <div class="row">
      <div>
        <app-slider></app-slider>
        <div class="container marketing">
          <div class="row justify-content-center text-center">
            <!-- justify-content-center ekleyerek ortalama sağlandı -->

            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img
                class="bd-placeholder-img rounded-circle"
                src="{{ authors[0].image_url }}"
                alt="Thumbnail"
                width="60%"
                height="150"
              />
              <h2 class="fw-normal">{{ authors[0].name }}</h2>
              <p>Edebiyatın ve Felsefenin Dahi Yazarı</p>
            </div>
            <div class="col-lg-4">
              <img
                class="bd-placeholder-img rounded-circle"
                src="{{ authors[8].image_url }}"
                alt="Thumbnail"
                width="60%"
                height="150"
              />
              <h2 class="fw-normal">{{ authors[8].name }}</h2>
              <p>Edebiyatta Gerçekçi Romantizmin Temsilcisi</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img
                class="bd-placeholder-img rounded-circle"
                src="{{ authors[2].image_url }}"
                alt="Thumbnail"
                width="60%"
                height="150"
              />
              <h2 class="fw-normal">{{ authors[2].name }}</h2>
              <p>Varoluşçuluğa Yeni Bir Yorum Getiren Yazar</p>
            </div>
            <!-- /.col-lg-4 -->
          </div>

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">
                Kütüphane Üyeliği
                <span class="text-body-secondary"
                  >Hizmetlerimizden yararlanın.</span
                >
              </h2>
              <p class="lead">
                Kütüphanemize üye olmanın birçok avantajı bulunmaktadır.
                Üyelerimiz, özel etkinlikler, kitap ödünç alma ve uzatma
                işlemleri gibi birçok hizmetten yararlanabilmektedir. Üyelik
                sayesinde kütüphane içi çalışma alanlarımızdan, sessiz okuma
                odalarımızdan ve grup çalışmaları için tasarlanmış
                mekanlarımızdan yararlanabilir, okuma alışkanlıklarınızı
                geliştirebilirsiniz. Üyeliğiniz sayesinde düzenli olarak yapılan
                atölyelere katılabilir, yeni konularda bilgi birikiminizi
                artırma fırsatına sahip olabilirsiniz. Ayrıca, kütüphanemiz,
                üyelerimize özel fırsatlar ve indirimler sunarak kitap dünyasını
                daha erişilebilir hale getirmeyi hedeflemektedir. Tüm bu
                avantajlar ile kütüphanemizde geçireceğiniz zaman, bilgi ve
                kültürel zenginliğinize katkıda bulunacaktır.
              </p>
            </div>
            <div class="col-md-5">
              <img
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="assets/images/featurette/library.jpg"
                alt="Kütüphane Üyeliği"
                width="400"
                height="400"
              />
            </div>
          </div>

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">
                Her zevke uygun
                <span class="text-body-secondary">Geniş Kitap Koleksiyonu</span>
              </h2>
              <p class="lead">
                Kütüphanemizde, her yaştan okuyucuya hitap eden geniş bir kitap
                koleksiyonu bulunmaktadır. Romanlar, bilim kurgu, tarih, kişisel
                gelişim, çocuk edebiyatı ve daha birçok kategoriye ait eserleri
                bulabilirsiniz. Her bir kitap, edebi değerinin yanı sıra,
                okuyucuların farklı bakış açıları geliştirmelerine yardımcı
                olmak için özenle seçilmiştir. Ayrıca, Türkçe eserlerin yanı
                sıra dünya edebiyatından önemli klasikler ve çağdaş yazarların
                eserleri de kütüphanemizde yer almaktadır. Düzenli olarak
                yenilenen koleksiyonumuz sayesinde, en güncel yayınları takip
                edebilir, okumak istediğiniz yeni yazarlarla tanışma şansını
                yakalayabilirsiniz. Kitaplarımız, uzman kütüphanecilerimiz
                tarafından titizlikle seçilerek okuyucularımıza sunulmaktadır,
                böylece her okuyucu kendi ilgi alanına uygun eserleri kolayca
                bulabilir.
              </p>
            </div>
            <div class="col-md-5 order-md-1">
              <img
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="assets/images/featurette/library2.jpg"
                alt="Geniş Kitap Koleksiyonu"
                width="400"
                height="400"
              />
            </div>
          </div>

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">
                Her yaş grubuna hitap eden
                <span class="text-body-secondary"
                  >Etkinlikler ve Atölyeler</span
                >
              </h2>
              <p class="lead">
                Kütüphanemizde düzenlenen çeşitli etkinlikler ve atölyeler,
                okurlarımız için sosyal ve kültürel bir deneyim sunmaktadır.
                Yazar buluşmaları, okuma günleri, yaratıcı yazarlık atölyeleri
                ve çocuklara yönelik eğitici etkinliklerle katılımcılarımızın
                farklı bakış açıları geliştirmelerini hedefliyoruz. Bu
                etkinlikler, katılımcıların sadece bilgi edinmelerini sağlamakla
                kalmayıp, aynı zamanda sosyal bir ağ oluşturmalarına da yardımcı
                olmaktadır. Ayrıca, kütüphanemizde düzenlenen seminerler ve
                paneller, güncel konular üzerine tartışmalar yapma imkanı
                sunarak katılımcılara daha derinlemesine bilgi edinme fırsatı
                tanımaktadır. Bu etkinlikler, kütüphane üyeleri için özel olarak
                planlanmakta ve herkese açık davetlerle geniş bir katılımcı
                kitlesine ulaşmayı hedeflemektedir. Katılımcılar, bu etkinlikler
                sayesinde yeni dostluklar kurabilir ve çeşitli konularda farklı
                bakış açıları kazanabilirler.
              </p>
            </div>
            <div class="col-md-5">
              <img
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="assets/images/featurette/library3.jpg"
                alt="Etkinlikler ve Atölyeler"
                width="400"
                height="400"
              />
            </div>
          </div>

          <hr class="featurette-divider" />
        </div>
      </div>
    </div>
  </div>
</app-basic-layout>
